/**********************************/
/*             general            */
/**********************************/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: 'Open Sans', 'helvetica neue', helvetica, arial, sans-serif;
  background-color: #1C1C1C;
  color: #ffffff;

  --standard-size: 1em;
}

body {
  width: 20em;
  background-color: hotpink;
  padding: 1.5em;
}

h1 {
  font-size: calc(1.5 * var(--standard-size));
  padding: 0.5em 0;
}

h2 {
  font-size: calc(1.25 * var(--standard-size));
}

p {
  font-size: var(--standard-size);
}


/**********************************/
/*              test 3            */
/**********************************/
button {
  margin-top: 1em;
  padding: 10px 20px;
  width: auto;
  height: auto;
  background-color: #ffffff;
  color: #1C1C1C;
  border-style: none;
  border-radius: 10px;
  font-family: 'Open Sans', 'helvetica neue', helvetica, arial, sans-serif;
  font-size: var(--standard-size);
  font-weight: 600;
}

img {
  width: 8.5em;
  height: auto;
}


/**********************************/
/*         index test list        */
/**********************************/
#index section {
  padding-left: 1em;
}

#index a {
  color: #ffffff;
  text-decoration: underline;
}

#index section {
  display: flex;
  flex-direction: column;
}

#index a {
  padding: 0.4em;
  width: 6em;
  height: calc( 0.8 * var(--standard-size));
  font-size: var(--standard-size);
  color: #ffffff;
}

#index div {
  width: 45%;
}
